* {
  padding: 0;
  margin: 0;
}

/* pokemon font */
@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('./pokemon-font/pokemon_hollow-webfont.woff2') format('woff2'),
       url('./pokemon-font/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 10px;
  padding: 0;
}

/* top cinema header */
.chooseMaster {
  font-family: 'pokemon_hollownormal';
  font-size: 4em;
  text-align: center;
  color: silver;
  padding: 40px;
  a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  a:active {
    color: silver;
  }
}

#selector {
  text-align: center;
  display: -webkit-flex;
  
  img {
    // text-align: center;
    max-height: 110%;
    max-width: 110%;
    padding: 10px;
    // opacity: 0;
  }
}

.chooseMaster {
  animation: fadeIn 2s infinite;
}

/* the fadeIn keyframe */
@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#slide1 {
  animation: slide 1s forwards;
  // animation-delay: 0s;
}

#slide2 {
  animation: slide 1.5s forwards;
  // animation-delay: 1s;
}

#slide3 {
  animation: slide 2s forwards;
  // animation-delay: 2s;
}

// @keyframes slide {
//   0% { transform: translate(50%, 0%); }
//   100% { transform: translate(50%, 50%); }
// }

@keyframes slide {
  0% {
    top: 0;
    left: -1000px;
    opacity: 0;
  }

  100% {
    top: 0px;
    left: 0px; 
    opacity: 1;
  }
}

#pogoLink {
  padding: 20px;
}

#pogoLink a{
  text-decoration: none;
  color: gray;
}

#pogoLink {
  animation: fadeIn1 15s forwards;
}

/* the fadeIn keyframe */
@keyframes fadeIn1 {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}